<html>
  <head>
    <title>Random Number</title>
  </head>
  <body>
    <form>
      <input type='text' name='input' />
      <input type='submit' value='Encode!' />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>